body {
background-color:#f1f1f1;
font-family: georgia,sans-serif;
color:#333;
margin:0;
padding:0;
}

#wrapper {
width:960px;
background-color:#f8f8f8;
margin:0 auto;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
}

#header {
width:960px;
margin-top:20px;
padding-top:10px;
padding-bottom:10px;
vertical-align:middle;
border-bottom:1px solid #ccc;
border-top:1px solid #ccc;
}

#header h2 {
padding:15px;
}

#content {
width:960px;
text-align: center;
vertical-align: middle;
}

#footer {
clear:both;
width:960px;
margin-top:20px;
margin-bottom:20px;
padding-top:10px;
padding-bottom:10px;
vertical-align:middle;
text-align: right;
border-top:1px solid #ccc;
border-bottom: 1px solid #ccc;
}

#footer p{
padding-right:15px;
}

.edit{
background-image:url("images/edit.png");
background-repeat:no-repeat;
width:24px;
height:24px;
cursor:pointer;
background-color:transparent;
border:none;    
text-indent:-1000px;
}

.delete{
background-image:url("images/delete.png");
background-repeat:no-repeat;
width:24px;
height:24px;
cursor:pointer;
background-color:transparent;
border:none;
text-indent:-1000px;
}
