<h1> List of thread </h1>
<p> Hello: <?php echo Session::get('login_user'). " (".$this->HtmlHlp->a('/user/logout',"Logout").")"; ?> </p>
<?php
foreach($threads as $thread){

    // Display thread name
    echo $this->HtmlHlp->a('/message/index/'.$thread["id"],$thread["thread"])."<br/>";
    
    // Display name and Thread time
    echo "Created by: ". $thread["username"]."<br/> at ".$thread["created"]."<br/>";

       
    if($thread['userid']== $this->AuthSrv->user_id()){
        // Add link Delete
	echo $this->HtmlHlp->a('/thread/delete/'.$thread["id"],"Delete");   
    }
    
    // End line 
    echo "<br/><br/>";
}

    // Add link
    echo $this->HtmlHlp->a('/thread/add',"Add new thread")."<br/><br/>";
   
?>

